*{
    padding: 0;
    margin: 0;
    font-family: "Nunito Sans";
}
main{
    display: flex;
}
.pogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-radius: 15px;
    border: 4px solid #9F5757;
    width: 827px;
    height: 650px;
    margin: 20px;
    overflow-y: scroll;
}
.gogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 298px;
    width: 807px;
    height: 104px;
    background: #B8B6B6;
    border: 5px solid #9F5757;
    border-radius: 15px;
}
p{
    width: 243px;
    height: 48px;
    font-size: 29px;
    align-items: center;
    display: flex;
    text-align: center;
    padding-left: 30px;
}
button{
    width: 225px;
    height: 57px;
    font-size: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    background: #FFF500;
    border: none;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 417px;
    height: 577px;
}
input{
    width: 363px;
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 15px;
    padding-left: 5px;
    font-size: 20px;   
}
select{
    width: 363px;
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 15px;
    padding-left: 5px;
    font-size: 20px;
}
.custom-file-input {
    color: transparent;
    padding: 0;
}
.custom-file-input::-webkit-file-upload-button {
visibility: hidden;
}
.custom-file-input::before {
content: 'Оберіть картинку';
color: black;
display: flex;
background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
border-radius: 15px;
outline: none;
white-space: nowrap;
-webkit-user-select: none;
cursor: pointer;
text-shadow: 1px 1px #fff;
font-weight: 700;
font-size: 20px;
width: 363px;
height: 55px;
justify-content: center;
align-items: center;
}
.custom-file-input:active {
outline: 0;
}
.custom-file-input:active::before {
background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}