<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/reg.css' %}">
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <h1>Авторизація</h1>
        <input type="text" placeholder="Логін" name="username">
        <input type="password" placeholder="Пароль" name="password">
        <p class="error">{{error}}</p>
        <button>Вхід</button>
    </form>
</body>
</html>