<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обдежа</title>
    <link rel="shortcut icon" href="{% static 'adminpanel/img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'products/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script>
        if ( window.history.replaceState ) {
           window.history.replaceState( null, null, window.location.href );
       }
    </script>
    {% block links %}
    {% endblock %}
</head>
<body>
    {% block menu %}
    <header>
        <a href="/main"><img class="logo" src="{% static 'adminpanel/img/logo.png' %}" alt=""></a>
        <form action="" method="POST">
            {% csrf_token %}
            <input type = 'search' placeholder="Пошук..." name="search">
            <button>Знайти</button>
        </form>
        {% if request.user.is_authenticated %}
        <a href="/backet"><img class="bascket" src="{% static 'adminpanel/img/bascket.png' %}" alt=""></a>
        <a href="/myorders"><img class="cart" src="{% static 'order/orders.png' %}" alt=""></a>
        {% endif %}
        <div>
            {% if request.user.is_authenticated %}
            <img class="user" src="{% static 'products/img/user.png' %}" alt="">
            <p class="white">{{request.user.first_name}} {{request.user.last_name}}</p>
            <a href="/logout" class="log_in">Вихід</a>
            {% if request.user.is_staff %}
            <a class="sing_in" href="/products">Адмін панель</a>
            {% endif %}
            {% else %}
            <a class="log_in" href="/auth">Вхід</a>
            <a class="sing_in" href="/reg">Реєстрація</a>
            {% endif %}
        </div>
    </header>
    {% endblock %}
    {% block content %}
    {% endblock %}
</body>
</html>